.blog{
  padding: 60px 0 80px 0;
  &__container{
    display: flex;
    align-items: flex-start;
    gap: 130px;
    @include tablet{
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }
  &__left{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
  &-card{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 6 span;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.5s ease;
    &:nth-child(7){
      grid-column: 12 span;
      align-items: flex-start;
      @include tablet{
        grid-column: 8 span;
      }
      @include small-tablet{
        grid-column: 12 span;
      }
    }
    @include tablet{
      grid-column: 4 span;
    }
    @include small-tablet{
      grid-column: 6 span;
    }
    @include mobile{
      grid-column: 12 span;
    }
    &:hover{
      transform: translateY(-5px);
      box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &-card__image{
    width: 100%;
  }
  &-card__content{
    max-width: 285px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  &-card__categories{
    margin: 0;
    margin-bottom: 4px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--acent);
  }
  &-card__title{
    margin: 0;
    margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark);
  }
  &-card__info{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    span{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      color: var(--gray);
    }
  }
  &-card__descr{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: var(--gray);
  }
  &-card__content-full{
    align-items: start;
    max-width: 614px;
    text-align: left;
  }
  &__pagination{
    grid-column: 12 span;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pagination{
  &__list{
    padding: 18px 25px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e5e5
  }
  &__item{
    text-align: center;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--dark);
    &:not(:last-child){
      margin-right: 30px;
    }
    svg{
      &:first-child{
        margin-right: 5px;
      }
      &:first-child{
        margin-left: 5px;
      }
    }
  }
  &__item-arroy{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a2a2a2;
    &:first-child{
      margin-right: 30px;
    }
    &:last-child{
      margin-left: 10px;
    }
  }
}

.aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  &__button{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 74px;
    border: 1px solid #e5e5e5;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--dark);

  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablet{
      width: 100%;
      align-items: center;
    }
  }
  &__filters{
    display: flex;
    flex-direction: column;
    gap: 70px;
    .filters-btn{
      white-space: nowrap;
      position: relative;
    }
    @include tablet{
      .filters-menu{
        opacity: 0;
        visibility: hidden;
        height: 0;
        transform: translateY(-20px);
        transition: all 0.2s ease;
      }
      .active-menu{
        opacity: 1;
        visibility: visible;
        height: 100%;
        transform: translateY(0);
      }
    }

    @include tablet{
      flex-direction: row;
    }
    @include small-tablet{
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}
.author{
  &__card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  }
  &__image{
    @include tablet{
      width: 100%;
    }
  }
  &__content{
    padding: 20px 0 14px 0;
    max-width: 230px;
    text-align: center;

  }
  &__title{
    margin: 0;
    margin-bottom: 4px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: var(--dark);
  }
  span{
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #b1b1b1;
  }
  &__descr{
    margin: 0;
    margin-top: 14px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--gray);
  }
  &__button{
    padding: 12px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--acent);
  }
}

.featured{
  display: flex;
  flex-direction: column;
  &__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet{
      flex-direction: row;
    }
    @include small-tablet{
      // width: 100%;
      flex-direction: column;
    }
  }
  &__card{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    @include small-tablet{
      width: 100%;
    }
  }
  &__image{
    width: 100%;
  }
  &__content{
    padding: 10px 0;
    max-width: 250px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  &__categories{
    margin: 0;
    margin-bottom: 4px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--acent);
  }
  &__title{
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    color: var(--dark);
  }
  &__info{
    display: flex;
    gap: 10px;
    span{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      color: var(--gray);
    }
  }
}


.categories{
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__categoria{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    transition: border-color 0.5s ease;
    @media (hover: hover){
      &:hover{
        border-color: var(--acent);
      }
    }
  }
  &__descr{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--gray);
  }
  &__count{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    color: var(--gray);
  }
}

.social{
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 3px;
  }
  &__item{
    height: 100%;
    padding: 17px 20px 14px;
    text-align: center;
    grid-column: 2 span;
    background: #f8f9fa;
    transition: scale 0.5s ease;
    @media (hover: hover){
      &:hover{
        scale: 1.1;
        z-index: -1;
      }
    }
    @media (hover: hover){
      &:hover svg{
        fill: var(--acent);
      }
    }
  }
  &__descr{
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #999;
  }
  & svg{
    fill: var(--gray);
    transition: fill 0.5s ease;
  }
}

.tags{
  max-width: 270px;
  &__content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__tag{
    padding: 6px 14px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--gray);
    background: #f8f9fa;
    transition: color 0.5s ease;
    @media (hover: hover){
      &:hover{
        color: var(--acent);
      }
    }
  }
}

