.hero{
    margin-top: 100px;
    padding-bottom: 60px;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 100px);
    // &.active-hero{
    //   filter: blur(3px);
    //   z-index: -1;
    // }
    &__container{
      display: flex;
      height: 100%;
    }
    &__content{
      max-width: 560px;
      align-self: end;
    }
    &__descr{
        margin-bottom: 4px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--light-color);
    }
    &__title{
        margin: 0;
        margin-bottom: 10px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 40px;
        line-height: 125%;
        color: var(--light-color);
    }
    &__info{
        display: flex;
        gap: 15px;
        span{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            color: var(--light-color);
        }
    }
}
