<section class="follow">
  <div class="container follow__container">
    <h1 class="follow__title">Follow our @instagram_name</h1>
    <ul class="list-reset follow__list">
      <li class="follow__item">
        <picture>
          <source srcset="../img/follow1.webp" type="image/webp">
          <img loading="lazy" src="../img/follow1.png" class="image" width="296" height="296" alt="">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="../img/follow2.webp" type="image/webp">
          <img loading="lazy" src="../img/follow2.png" class="image" width="296" height="296" alt="">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="../img/follow3.webp" type="image/webp">
          <img loading="lazy" src="../img/follow3.png" class="image" width="296" height="296" alt="">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="../img/follow4.webp" type="image/webp">
          <img loading="lazy" src="../img/follow4.png" class="image" width="296" height="296" alt="">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="../img/follow5.webp" type="image/webp">
          <img loading="lazy" src="../img/follow5.png" class="image" width="296" height="296" alt="">
        </picture>
      </li>
      <li class="follow__item">
        <picture>
          <source srcset="../img/follow6.webp" type="image/webp">
          <img loading="lazy" src="../img/follow6.png." class="image" width="296" height="296" alt="">
        </picture>
      </li>
    </ul>
  </div>
</section>