<footer class="footer">
  <div class="container footer__container">
    <picture>
      <source srcset="../img/logo.webp" type="image/webp">
      <img loading="lazy" src="../img/logo.png" class="footer__logo" width="128" height="32" alt="">
    </picture>
    <ul class="list-reset footer-nav">
      <li class="footer-nav__item"><a href="#" class="footer-nav__link"></a>Home</li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link"></a>Recipes</li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link"></a>Article</li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link"></a>Contact</li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link"></a>Purchase</li>
    </ul>

    <ul class="list-reset footer-social">
      <li class="footer-social__item">
        <a href="" class="footer-social__link">
          <img src="../img/footer1.svg" alt="" class="footer-social__img">
        </a>
      </li>
      <li class="footer-social__item">
        <a href="" class="footer-social__link">
          <img src="../img/footer2.svg" alt="" class="footer-social__img">
        </a>
      </li>
      <li class="footer-social__item">
        <a href="" class="footer-social__link">
          <img src="../img/footer3.svg" alt="" class="footer-social__img">
        </a>
      </li>
      <li class="footer-social__item">
        <a href="" class="footer-social__link">
          <img src="../img/footer4.svg" alt="" class="footer-social__img">
        </a>
      </li>
      <li class="footer-social__item">
        <a href="" class="footer-social__link">
          <img src="../img/footer5.svg" alt="" class="footer-social__img">
        </a>
      </li>
      <li class="footer-social__item">
        <a href="" class="footer-social__link">
          <img src="../img/footer6.svg" alt="" class="footer-social__img">
        </a>
      </li>
    </ul>

    <span class="footer__copy">@2019 Logwork. All Right Reserved.</span>

  </div>
</footer>