// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/nav";
@import "./components/hero";
@import "./components/blog";
@import "./components/follow";
@import "./components/footer";
@import "./components/blog-info";

.body-hiden{
  overflow: hidden;
}

.btn{
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 74px;
  border: 1px solid #e5e5e5;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--dark);
  transition: all 0.5s ease;
  &:focus{
    outline: none;
  }
  @media (hover: hover){
    &:hover{
      background-color: var(--acent);
      color: var(--light-color);
    }
  }
  &:active{
    background-color: #ce962d;
    color: var(--light-color);
  }
}
